:root {
    --main-color: #212121;
    --secondary-color: #757575;
    --accent: #2196F3;
    --white: #FFFFFF;
    --secondary-background: #F5F5F5;
    --additional-background: #2F303A;
    --additional-color: rgba(255, 255, 255, 0.6);
    --logo-color: #000000;
    --different-background: #F5F4FA;
}




body {
    font-family: "Roboto", sans-serif;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.hero, footer {
    background-color: var(--additional-background);
}

.hero-button {
    cursor: pointer;
}

.header {
    background-color: var(--white);
}

.letter {
    color: var(--accent);
}

.header-logo {
    font-family: 'Raleway', sans-serif ;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--logo-color);
}

.site-nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-color);
}

.site-nav-link:hover, .site-nav-link:focus {
    color: var(--accent);
}

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
}

.header-link:hover, .header-link:focus {
    color: var(--accent);
}

.main-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white);
}

.hero-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white);
    background-color: var(--accent);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.benefits {
    background-color: var(--secondary-background);
}

.title-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color);
}

.text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
}

.what are we doing company {
    background-color: var(--secondary-background)
}

.title-team-employee {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-color);
}

.text-team-employee {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}

.maps-address-footer {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--white);
    font-style: normal;
}

.address-footer {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--additional-color);
}

.button-name {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
    background-color: var(--different-background);
    cursor: pointer;
}

.button-name:hover, .button-name:focus {
    color: var(--white);
    background-color: var(--accent);
}

.title-project {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-color);
}

.text-project {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}

.logo-footer {
    font-family: 'Raleway' sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--white);
}

.maps-address-footer:hover, .maps-address-footer:focus {
    color: var(--accent);
}

.address-footer:hover, .address-footer:focus {
    color: var(--accent);
}